/*@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
}

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

p {
  line-height: 2;
}
.face-left-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.face-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.container {
  width: 1000px;

  margin: 0 auto;
}

.Hero-section {
  position: relative;
  background-color: rgb(207, 241, 255);
  width: 100%;
  height: 750px;
}

.Hero-section img:first-of-type {
  position: absolute;
  top: 47%;
  left: 15%;
  width: 960px;

  height: 400px;
}

img {
  width: 20%;
}

img[alt="cloud1"] {
  position: absolute;
  top: 3%;
  left: 65%;
}

img[alt="cloud2"] {
  position: absolute;
  top: 40%;
  left: 12%;
}

.Hero-title {
  position: absolute;
  top: 13%;
  left: 37%;
  color: rgb(35, 140, 182);
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 40px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.Hello-sec {
  text-align: center;
  margin-top: 40px;
}

.Hello-sec img {
  width: 25%;
}

.Hello-sec > p {
  padding: 10px 29%;
  word-spacing: 2px;
  line-height: 24px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.btn {
  background: #11cdd4;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  text-decoration: none;
}
.middle-container {
  margin: 100px 0;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
